<!DOCTYPE HTML>
{% extends "base.html" %} {% block content %}

<section id='about' class="spotlight orient-left style4 content-align-left onload-image-fade-in ">
    <div class="image ">
        <img src="images/xtc_spotlight02.png" alt="" />
    </div>
    <div class="content" style="background-color:rgba(255,255,255,0); max-width:40%">
        <p style='font-size:1.1rem'> 以孩子身心发展曲线为基础，结合中西教育精髓，以开发式的教学释放孩子的潜能。<br/><b>玩中学，学中做</b>的教学理念让孩子在游戏和体验中得到成长，全方位培养孩子的安全感，意志力、目标感、注意力、记忆力、思维能力等多方面素质。
        </p>
    </div>
</section>


<section class="wrapper style1 align-center ">
    <div class="items style1 medium onscroll-fade-in ">
        <section>
            <img src="images/xtc_003.png " style="max-width:90%" alt="" />
        </section>
        <section>
            <img src="images/xtc_008.png " style="max-width:90%" alt="" />

        </section>
        <section>
            <img src="images/xtc_009.png " style="max-width:90%" alt="" />

        </section>
    </div>
</section>

{% endblock %}