<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg"></i>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-flag"></i> 小天才 </i> </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="main-nav">
            <li class="active"><a href="/">首页</a></li>
            <li> <a href="/#why"> 教学理念 </a> </li>
            <li> <a href="/#course">课程介绍</a></li>
            <li><a href="/#views">每日课堂 </a></li>
            <li> <a href="signup.html">预约报名</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">老师登陆</a></li>
        </ul>
    </div>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
</nav>